html,body {
    height:98%;
}
body {
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
    background: url(../images/header.jpg) no-repeat center top;
}

* {
    box-sizing: border-box;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: row ;

    /*
    -ms-flex-wrap: wrap; !* IE10 *!
    flex-wrap: wrap;
    */
    margin: 0 -16px;
}
.row-column, .row_column{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column ;
}
.row-column label.row, .row_column label.row{
    justify-content: flex-start;
}

.big {
    margin-top: 3px;
}
.col-25, .col_25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
}

.col-50, .col_50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    flex-grow: 1;
}

.col-75, .col_75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
}

.col-25,
.col-50,
.col-75,
.col_25,
.col_50,
.col_75{
    padding: 0 16px;
}
.col-sized, .col_sized{
    flex-basis: 600px;
}
.container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    height: 100%;
    opacity: .8;
}
.central{
    text-align: center;
}
.central-map{
    text-align: center;
    margin: 5px auto -5px;
    opacity: .9;
}
.central ul li{
    text-align: left;
    list-style: none;
}
.notes {
    font-size: .8em;
    font-style: oblique;
}
.container ol li{
    margin:2px;

}
h4{
    margin: 2px;
}
.mapsis
{
    height: 600px;
    width: 800px;
    background-color: #f2f2f2;
    border: 1px solid lightgrey;
    /*position: absolute;*/
    /*display:block;*/
    /*margin: 5px 0;*/
}

.maxmapsis {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    border: 1px solid lightgrey;
}
.header {
    position: fixed;
    /*overflow: hidden;*/
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: solid #757575 1px;
    text-align: center;
    box-shadow: #a2a2a2 2px 3px  5px;
    display: flex;
}

.footer_motu {
    position: fixed;
    /*overflow: hidden;*/
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: solid #757575 1px;
    text-align: center;
    box-shadow: #a2a2a2 2px -3px 5px;
    transform:translateY(80%);
    padding: 5px;
    transition: transform 0.6s;
}

.footer_motu h2, .footer_motu h2{
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    text-shadow: #a2a2a2 2px 2px;
}
.footer_motu a, .footer_motu a {
    display: block;
    color: #727272;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.footer_motu:hover {
    transform:translateY(0);
    /*height:auto;*/
}

.header div{
    text-align: left;
    padding: 4px 16px;
    text-decoration: none;
    font-size: 12pt;
}
.header div td:first-child{
    padding-right: 4px;
    font-weight: bold;
}
.header div td a{
    padding: 4px;
    text-align: left;
}
tr.odd{
    background-color: rgba(240, 240, 190, 0.5);
}
tr.even{
    background-color: rgba(240, 240, 190, 0.8);
}
tr.odd:hover, tr.even:hover{
    background-color: rgba(240, 240, 190, 0.2);
}
.header div table{
    background-color: rgba(240, 240, 190, 0.5);
}
.header div ul{
    list-style: none;
    margin: 4px;
    /*opacity: 0;*/
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 10px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* The Close Button */
.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Modal Header */
.modal-header {
    padding: 2px 6px;
    background-color: #83cfff;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 6px;
    background-color: #83cfff;
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 4px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.5s
}
/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0px; opacity: 1}
}

#myTopnav  {
    display: flex;
}

#myTopnav div {
    position: absolute;
    top: -250px;
    transition: 0.3s;
    padding: 15px;
    width: 200px;
    height:300px;
    text-decoration: none;
    color: white;
    border-radius: 0 0 5px 5px;
    font-size: .9em;
    font-weight: bold;
    vertical-align: bottom;
    display: flex;
    flex-direction: column;
}
#myTopnav div div {
    position: relative;
    top:0;
    box-sizing: border-box;
    width:100%;
}
#myTopnav div div:first-child {
    height:85%;
    opacity: .8;
    border-radius: 5px;
}

#myTopnav div div:last-child {
    height:15%;
 }
#myTopnav div span{
    align-self: flex-end;
}
#myTopnav div:hover {
    top: 0;
}
#visited {
    background-color: #4CAF50;
    left:10px;
}
#visited div:first-child {
    background-color: #00e765;
}
#selected {
    background-color: #2196F3;
    left:220px;
}
#selected div:first-child {
    background-color: #00c0ef;
}

#filters {
    background-color: #f44336;
    left:430px;
}
#filters div:first-child {
    background-color: #e47365;
}

#categories {
    background-color: #555;
    left:640px;
}
#categories div:first-child {
    background-color: #95999c;
}

.gallery {
    background: #EEE;
}

.gallery-cell {
    width: 20%;
    height: 150px;
    margin-right: 10px;
    background: #8C8;
    counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
}
div.balloon{
    background-color: #7adddd;
}
div.balloon img{
    height:80px;
}

#title_center{
    position: absolute;
    width: 310px;
    height: 50px;
    left: 40%;
    top: 34px;
    display: flex;
}
#title_right{
    position: absolute;
    width: 158px;
    height: 50px;
    right: 7%;
    top: 34px;
    display: flex;
    justify-content: space-around;
}
#title_face{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 3%;
    top: 34px;

    /*background: url(../images/vitya.jpg);*/
    padding: 2px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.16));
    border-radius: 27px;
 }
#tc_title{
    position: relative;
    padding: 15px;
    width: 75%;
    height:100%;
    border-right: 2px solid #F3F5F8;
}
#tc_whether{
    padding-top: 15px;
}
.map_notes{
    background: #FFFFFF;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.16);
    border-radius: 30px;
    /*font-family: Helvetica Neue;*/
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.sidebar_motu {
    position: fixed;
    /*overflow: hidden;*/
    transform: translateX(-80%);
    left: 0;
    top: 0;
    height: 100%;
    border-right: solid #757575 1px;
    text-align: left;
    color:#fff;
    box-shadow: #a2a2a2 2px 3px  5px;
    padding:6px;
    display: flex;
    transition: transform 0.6s;
}
.sidebar_motu_open {
    position: fixed;
    /*overflow: hidden;*/
    /*transform: translateX(-80%);*/
    left: 0;
    top: 0;
    height: 100%;
    border-right: solid #757575 1px;
    text-align: left;
    color:#fff;
    box-shadow: #a2a2a2 2px 3px  5px;
    padding:6px;
    display: flex;
    flex-direction: column;
    transition: transform 0.6s;
}

.sidebar_motu:hover {
    transform:translateX(0);
    /*height:auto;*/
}

#sidebar{
    top:34px;
    height:95%;
    margin-left: 10px;
}
#sidebar input{
    background: #FFFFFF;
    border: 1px solid #F3F5F8;
    box-sizing: border-box;
    box-shadow: 0px 9px 20px rgba(196, 196, 196, 0.2);
    border-radius: 26px;
 }
.input_container {
    position:relative;
    margin:10px 5px;
     width: 300px;
}
#input {
    height:45px;
    margin:0;
    width: 100%;
    color: #757575;
}
.input_img {
    position:absolute;
    bottom:12px;
    right:15px;
    width:24px;
    height:24px;
}

.sidebar_row{
    width:100%;
    display: flex;
    padding: 7px;
    justify-content: center;
    align-items: center;
}
.sidebar_row_line{
    border-bottom: 2px solid #F3F5F8;
}

#sidebar_1_1{
    width:50%;
}
#sidebar_1_1 img{
    width: 106px;
}
#sidebar_1_2{
    width:50%;
    text-align: right;
}
#sidebar_1_2 img{
    width: 40px;
}
.sidebar_cat_button{
    padding: 30px 10px 20px;
    border-radius: 15px;
    /*width:50%;*/
    width: 140px;
    margin: 7px;
    /*font-family: Roboto;*/
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    color: #FFFFFF;
    opacity: 0.9;
}
.sidebar_cat_button img{
    margin-right: 8px;
}
.sidebar_cat_button:hover{
    opacity: .5;
}
#eat{
    background: #FBBC04;
}
#buy{
     background: #76E800;
 }
#sight{
      background: #E22EFF;
       padding:25px 10px 15px;
  }
#night{
       background: #37C3FF;
    padding:25px 10px 15px;
   }
#recommend {
    display: flex;
    flex-direction: column;
}
#recommend .label{
    /*font-family: Roboto;*/
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    color: #0B0B0B;
    opacity: 0.9;
}
#recommend_list{
    overflow: auto;
    display: flex;
    flex-direction: column;
    max-height:100%;
    position: absolute;
    top: 0;
    bottom: 10px;
    right: 0;
    left: 0;
}
#recommend_list img{
    width: 300px;
    border-radius: 20px;
}
#recommend_list div{
    border-radius: 20px;
    width: 300px;
    margin:5px 3px;
}
.recommend{
    position: relative;
    height: 100%;
}
.baloon{
    width: 286px;
    /*height: 113px;*/
    background: #FFFFFF;
    /*box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.16);*/
    /*border-radius: 20px;*/
    display:flex;
    justify-content: space-around;
}
.baloon>div{
    margin-right: 5px;
}
.baloon img {
    border-radius: 50%;
    height: 40px;
}
.baloon_percent{
    border-radius: 50%;
    background: #596AF8;
    height:40px;
    width:40px;
    color:#fff;
    /*font-family: Helvetica Neue;*/
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding-top: 12px;
}
.baloon_text{
    display: flex;
    margin-bottom: 5px;
}
.baloon_text div{
    margin-right: 4px;
}
.baloon_green{
    width: 10px;
    height: 10px;
    background: #76E800;
    border-radius: 10px;
    margin-top: 3px;
}
.baloon_note{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
   color: #72808A;
    opacity: 0.9;
}